if SHIELD_PCBLANDER_LEFT

config ZMK_KEYBOARD_NAME
    default "PCBLander"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PCBLANDER_LEFT || SHIELD_PCBLANDER_RIGHT

config ZMK_SPLIT
    default y

endif
